backports.shutil_which
bleak
future
godirect
hidapi
numpy
packaging
pandas
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreBluetooth
pyobjc-framework-libdispatch
PyQt5
PyQt5-Qt5
PyQt5_sip
pyqtgraph
python-dateutil
pytz
setuptools
six
tzdata
xarray
requests